<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</head>
<body class="container-sm">
<div th:replace="navbar :: navbar"></div>
<h1 th:text="${itinerary.name}"></h1>
<table class="table table-borderless" th:each="forecast : ${itinerary.forecasts}">
    <thead>
    <tr>
        <th scope="col">City</th>
        <th scope="col">Country Code</th>
        <th scope="col">Temperature</th>
        <th scope="col">Clouds</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="line : ${forecast.lines}">
        <td th:text="${forecast.city}"></td>
        <td th:text="${forecast.country}"></td>
        <td th:text="${line.temp}"></td>
        <td th:text="${line.clouds}"></td>
        <td th:text="${line.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>